* {
  margin: 0;
  box-sizing: border-box;
  font-family:'Source Sans Pro';
}

div.home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/background2.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.home_logo {
  margin-bottom: 70px;
}

.home_welcome {
  font-size: 50px;
  font-weight: 1000;
  color: white;
  margin-bottom: 60px;
}
 
.delani_welcome {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

.home_paragraph {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.mouse_logo {
  margin-bottom: 0%;
}

.about_us {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_us > p {
  line-height: 35px;
  font-size: 20px;
}

.services {
  background-image: url('../images/background3.jpg');
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services > h3 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.services > p {
  color: white;
  line-height: 30px;
  font-size: 20px;
}

.what_we_do {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.what_images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.what_images > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact_us {
  background-image: url("../images/background1.jpg");
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.contact_us > h3 {
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact_us_form {
  margin-bottom: 20px;
}

#nameInput{
  width: 350px;
  height: 30px;
  opacity: 0.3;
}

#emailInput{
  width: 350px;
  height: 30px;
  opacity: 0.3;
}


.message_text > textarea {
  opacity: 0.3;
}

::placeholder {
  color: red;
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_images {
  margin-bottom: 20px;
}

.footer_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_text > p {
  font-size: 20px;
}